---
layout: default
---

<main>

  <section class="install">
    <header class="install-header">
      <h1>01. Install</h1>
    </header>
    <section class="install-direction">
      <div class="install-direction-step">
        <p class="install-direction-instructions">Install high_voltage in your local system</p>
        <code class="install-direction-sample">$ gem install high_voltage</code>
      </div>
      <div class="install-direction-step">
        <p class="install-direction-instructions">Include high_voltage in your gemfile</p>
        <code class="install-direction-sample">gem "<em>high_voltage</em>"</code>
      </div>
    </section>
    <section class="install-direction install_direction-optional">
      <div class="install-direction-step">
        <p class="install-direction-instructions">For Rails versions prior to 3.0, use the 0.9.2 tag of high_voltage</p>
        <code class="install-direction-sample">$ gem "<em>high_voltage</em>", "~> 0.9.2"</code>
      </div>
    </section>
  </section>

  <section class="usage">
    <header class="usage-header">
      <h1>02. USAGE</h1>
    </header>
    <div class="usage-content">
      <p class="usage-directions">Write your static pages and put them in the <code>/app/views/pages</code> directory</p>
      {% include usage_illustration-small.svg %}
      {% include usage_illustration-large.svg %}
    </div>
  </section>

  <footer class="references">
    <p class="references-documentation">
      For advanced configuration options <span>—</span> consult project <a href="{{ site.documentation_url }}">documentation</a>
    </p>
    <a href="https://www.youtube.com/watch?v=HD5tnb2RBYg">{% include dangerdanger.svg %}</a>

  </footer>

</main>
