<footer class="site-footer">
  <p class="cite">
    <a href="{{ site.thoughtbot_url }}">{% include ralph.svg %}</a>
    
    <span>High Voltage is maintained and funded by <a href="{{ site.thoughtbot_url }}">thoughtbot</a></span>
  </p>

  <p class="copyright">
    <span>Copyright © 2013 thoughtbot, inc.</span>

    <span>high_voltage is free software.</span>
    
    <span>high_voltage may be redistributed under the terms specified in the <a href="{{ site.license_url }}">license</a>.</span>
  </p>

</footer>
