<nav class="site-navigation">
  <a href="{{ site.repository_url }}" class="site-navigation-item">
    github
  </a>
  
  <a href="{{ site.documentation_url }}" class="site-navigation-item">
    docs
  </a>

  <a href="{{ site.thoughtbot_url }}" class="site-navigation-item">
    thoughtbot
  </a>
</nav>

<header class="site-header">
  <h1 class="site-title">
    {% include high_voltage-logo.svg %}
  </h1>

  <p class="site-description">High Voltage serves static pages in your Rails app</p>

  <a class="site-header-dangerdanger" href="https://www.youtube.com/watch?v=2a4gyJsY0mc">{% include dangerdanger.svg %}</a>
</header>
