@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat-helpers";
@import "neat/neat";

$blue: #228ACC;
$light-blue: #518EFF;
$faded-red: #F27783;
$warm-white: #FFF9E7;

h1, h2, h3{
  font-family: "league-gothic",helvetica,arial,sans-serif;
}

h1{
	font-size: 48px;
	line-height: 1.5em;
}

h2{
	font-size: 36px;
	line-height: 1.5em;
}

h3{
	color: $blue;
	font-size: 48px;
	line-height: 1.5em;
	text-transform: uppercase;
}

p{
	color: #222;
	font-family: "droid-sans", helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

body{
	background-color: $warm-white;
	-webkit-font-smoothing: antialiased;
}

.row{
	@include outer-container;
}

hgroup{
	text-align: center;
}

.blue-b{
	@include span-columns(2);
  @include transition(0.2s ease-in-out);
	background-color: $light-blue;
  border: solid 1px #487FE5;
	border-radius: 5px;
  border-top: none;
  color: #fff;
  font-family: "league-gothic",helvetica,arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
	height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover{
  	background-color: $blue;
  }
}

header#main-header{
	background-color: #FFFFFF;
	height: 160px;

	.row{
		position: relative;
	}

	.logo{
		@include inline-block;
		background: url('/img/logo.png') no-repeat;
		height: 94px;
		left: 0;
		overflow: hidden;
		position: absolute;
		text-indent: -9999px;
		top: 33px;
		width: 272px;

		@media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
			background: url('/img/logo@2x.png') no-repeat;
      background-size: cover;
    }
	}

	.blue-b{
		@include shift(10);
		position: relative;
		top: 50px;
	}
}

section#banner{
	background: url('/img/bg.png') repeat $light-blue;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	border-top: solid 1px rgba(0,0,0,0.2);

	@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
		background: url('/img/bg@2x.png') repeat $light-blue;
    background-size: 50%;
  }

	hgroup{
		color: #fff;
		padding: 75px 0;
	}

	h1{
		text-transform: uppercase;
	}

	h2{
		opacity: 0.75;
	}
}

section#installation{
	position: relative;

	#warning{
		@include transform(rotate(-15deg));
  	@include transition(0.2s ease-in-out);
		@include box-sizing(border-box);
		background-color: #FFCC11;
		border-radius: 40px;
		box-shadow: 0 1px 0 #E2B50F;
  	color: #fff;
		display: block;
		display: block;
		font-family: "league-gothic",helvetica,arial,sans-serif;
  	font-size: 24px;
  	font-weight: bold;
		height: 80px;
		left: 50%;
  	line-height: 22px;
		margin-left: -40px;
  	padding-top: 17px;
		position: absolute;
  	text-align: center;
  	text-decoration: none;
		text-transform: uppercase;
   	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
		top: -40px;
		width: 80px;
		z-index: 1000;

  	em{
  		font-size: 18px;
  		font-style: normal;
  		text-transform: none;
  	}

		&:hover{
			@include transform(rotate(0deg));
		}
	}

	.row{
		padding: 75px 0;
		article{
			@include span-columns(8);
			@include shift(2);
		}
	}

	article:first-child{
		margin-bottom: 30px;
	}

	article:last-child{
		border-top: solid 1px rgba(0,0,0,0.1);
		padding-top: 64px;
	}

	p{
		font-size: 16px;
		line-height: 24px;
	}

	pre{
		background-color: #fff;
		border: solid 1px rgba(0,0,0,0.1);
		border-radius: 5px;
		font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
		font-size: 13px;
		margin-bottom: 44px;
		padding: 10px;
	}
}

section#ready{

	background: url('/img/bg.png') repeat $light-blue;
	background-color: $light-blue;
	border-top: solid 1px rgba(0,0,0,0.2);
	position: relative;

	@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
		background: url('/img/bg@2x.png') repeat $light-blue;
    background-size: 50%;
  }


	#bam{
		@include transform(rotate(-15deg));
		background-color: #FFCC11;
		border-radius: 40px;
		box-shadow: 0 1px 0 #487FE5;
  	color: #fff;
		display: block;
		font-family: "league-gothic",helvetica,arial,sans-serif;
  	font-size: 36px;
  	font-weight: bold;
		height: 80px;
		left: 50%;
  	line-height: 80px;
		margin-left: -40px;
		position: absolute;
		text-transform: uppercase;
   	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
		top: -45px;
		width: 80px;
		z-index: 1000;
	}

	.row{
		padding: 75px 0;
		text-align: center;
	}

	h3{
		color: #fff;
		display: inline-block;
		float: none;
		margin-right: 40px;
	}

	a.blue-b{
		background-color: #fff;
		color: $light-blue;
		display: inline-block;
		float: none;
		position: relative;
		vertical-align: 8px;

		&:hover{
			background-color: $warm-white;
			color: $light-blue;
		}
	}

}

footer#main-footer{
	background-color: $blue;
	border-top: solid 1px rgba(0,0,0,0.1);

	.row{
		padding: 50px 0;
	}

	p{
		color: #fff;
		text-align: center;

		a{
			color: #fff;

			&:hover{
				text-decoration: none;
			}
		}
	}
}
