// Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

// Grid Settings
$gutter-width: 1.75rem;
$section-max-width: 75rem;

// Typography
$sans-serif: 'Roboto Condensed', sans-serif;
$serif: 'Merriweather', $georgia;
$monospace-font-family: 'Anonymous Pro', $monospace;
$base-font-family: $serif;
$header-font-family: $sans-serif;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.7;
$header-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #3fa9f5;
$dark-blue: #288dbf;
$dark-gray: #414042;
$gray: #bbb;
$smoke: whitesmoke;
$white: #fff;

// Background Color
$base-background-color: $white;
$section-background-color: $smoke;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$alt-accent-color: $dark-blue;
$inverse-accent-color: $white;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $alt-accent-color;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $dark-gray;
$alt-border-color: $gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
