.site-footer {
  @extend %container;
  text-transform: lowercase;
  text-align: center;

  .cite {
    @include clearfix();
    margin-bottom: $gutter-width;
    max-width: 22em;
    font-size: 1.25em;
  }

  .ralph {
    display: block;
    margin: 0 auto 1em auto;
    width: 5rem;
  }

  .copyright {
    font-size: 0.875em;
  }
}


@media screen and (min-width : $medium-screen) {

  .site-footer {
    text-align: left;

    .copyright span {
      display: block;
    }

    .ralph {
      float: left;
      margin-right: $gutter-width;
      width: 3.75rem;
    }
  }
}
