.site-header {
  @extend %container;
  background-color: $base-accent-color;
  display: grid;
  color: $inverse-accent-color;
  grid-template-columns: 1fr;
  justify-content: space-between;
  margin-bottom: $gutter-width;

  @media screen and (min-width : $large-screen) {
    grid-template-areas: "logo logo"
                         "desc icon";
    grid-template-columns: minmax(auto, 25rem);
  }
}

.site-title {
  margin-bottom: $gutter-width;

  svg {
    fill: currentColor;
    height: auto;
    max-width: 100%;
  }

  @media screen and (min-width : $large-screen) {
    grid-area: logo;
  }
}

.site-description {
  border: 1px solid $inverse-accent-color;
  font-size: 1.25em;
  margin: 0;
  padding: ($gutter-width * 0.8) $gutter-width;

  @media screen and (min-width : $large-screen) {
    border-width: 2px;
  }
}

.site-header-dangerdanger {
  display: none;

  @media screen and (min-width : $large-screen) {
    color: $inverse-accent-color;
    display: inline;
    justify-self: end;
  }
}
