.install {
  margin-bottom: $gutter-width;
}

.install-header,
.install-direction {
  @extend %container;
  background-color: $section-background-color;
  border: $base-border;

  &:not(:last-child) {
    border-bottom-style: none;
  }
}

.install-direction {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  text-transform: lowercase;

  @media screen and (min-width : $large-screen) {
    grid-template-columns: 1fr auto;
  }
}

.install-direction-instructions,
.install-direction-sample {
  margin: 0;
  padding: $gutter-width;
}

.install-direction-sample {
  border-bottom: $base-border;
  font-size: 1.25em;
  min-width: 25rem;
  padding-top: 0;

  &:last-child {
    border-bottom-style: none;
  }

  @media screen and (min-width : $large-screen) {
    border-left: $base-border;
    padding-top: $gutter-width;
  }
}

.install-direction-optional {
  border-color: $alt-border-color;
  border-top-color: $base-border-color;
  background-color: white;

  .install-direction-sample {
    border-color: $alt-border-color;
  }
}
