.install {
  margin-bottom: $gutter-width;
}

.install-header,
.install-direction {
  @extend %container;
  background-color: $section-background-color;
  border: $base-border;

  &:not(:last-child) {
    border-bottom-style: none;
  }
}

.install-direction {
  padding: 0;
  text-transform: lowercase;
}

.install-direction-instructions,
.install-direction-sample {
  padding: $gutter-width;
  margin: 0;
}

.install-direction-step {
  @include clearfix;
}

.install-direction-instructions {
  float: left;
}

.install-direction-sample {
  border-bottom: $base-border;
  border-left: $base-border;
  float: right;
  font-size: 1.25em;
  min-width: 25rem;

  .install-direction-step:last-child & {
    border-bottom-style: none;
  }
}

.install-direction-optional {
  border-color: $alt-border-color;
  border-top-color: $base-border-color;
  background-color: white;

  .install-direction-sample {
    border-color: $alt-border-color;
  }
}
