.references {
  @include clearfix;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto $gutter-width auto;
  max-width: $section-max-width;
  text-transform: lowercase;

  @media screen and (min-width : $medium-screen) {
    grid-template-columns: minmax(auto, 30rem) 1fr;
  }
}

.references-documentation {
  border: 1px solid $base-accent-color;
  padding: $gutter-width;
  font-size: 1.25em;
}

.references-dangerdanger {
  @media screen and (min-width : $medium-screen) {
    justify-self: end;
  }
}
