.usage {
  margin-bottom: $gutter-width;
}

.usage-header,
.usage-content {
  @extend %container;
  background-color: $section-background-color;
  border: 1px solid $base-border-color;
}

.usage-content {
  border-top-style: none;
  position: relative;

  svg {
    font-family: 'Anonymous Pro';
    max-width: 100%;
  }
}

.usage-directions {
  max-width: 25em;
  padding: $gutter-width;
}

.usage-illustration-small {
  display: block;
}

.usage-illustration-large {
  display: none;
}

@media screen and (min-width : $large-screen) {

  .usage-directions {
    @include position(absolute, 0em null null 0em);
    border-right: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;
  }

  .usage-illustration-small {
    display: none;
  }

  .usage-illustration-large {
    display: block;
    font-size: 1.25em;
  }
}
