.usage {
  margin-bottom: $gutter-width;
}

.usage-header,
.usage-content {
  @extend %container;
  background-color: $section-background-color;
  border: $base-border;
}

.usage-content {
  border-top-style: none;
  position: relative;

  svg {
    font-family: 'Anonymous Pro';
    max-width: 100%;
  }
}

.usage-directions {
  max-width: 25em;
  padding: $gutter-width;

  @media screen and (min-width : $large-screen) {
    @include position(absolute, 0em null null 0em);
    border-right: $base-border;
    border-bottom: $base-border;
  }
}

.usage-illustration-small {
  display: block;

  @media screen and (min-width : $large-screen) {
    display: none;
  }
}

.usage-illustration-large {
  display: none;

  @media screen and (min-width : $large-screen) {
    display: block;
    font-size: 1.25em;
  }
}
