%header
	.row
		= link_to 'thoughtbot', '#', class: 'logo'
		= link_to 'GitHub', 'https://github.com/thoughtbot/high_voltage', class: 'blue-b'

%section{id: 'banner'}
	.row
		%hgroup
			%h1 High Voltage is a quick way to serve up static pages in your rails app. 
			%h2 Create views with the correct structure and voila!

%section{id: 'installation'}
	.row
		%hgroup
			%h3 Installation

		%hgroup
			%h3 Usage

%footer
	.row
		%p High Voltage is maintained and funded by <a href="http://thoughtbot.com">thoughtbot</a>.
		%p High Voltage is Copyright &copy; 2013 thoughtbot. It is free software, and may be redistributed under the terms specified in the MIT-LICENSE file.