name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['2.7', '3.0', '3.1', '3.2']
        gemfile: ['rails_5.2','rails_6.0','rails_6.1','rails_7.0']
        exclude:
          - gemfile: 'rails_5.2'
            ruby-version: ['3.0','3.1','3.2']
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
    name: Specs - Ruby ${{ matrix.ruby-version }} with ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby-version }} with ${{ matrix.gemfile }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
        rubygems: default
    - name: Run specs
      run: bundle exec rake spec
